body {
  background-color: #c2e9f2;
  height: 100vh;
}

a {
  color: #00b7ff;
}

h1 {
  color: 15px;
}

.navlogo {
  width: 200px;
}

/*login error div*/
.errorDiv {
  background-color: blue !important;
  border: none !important;
}

.createForm {
  height: 50vh;
}

.footerLink {
  text-decoration: none;
}

p {
  font-size: 8px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.cardTitle {
  font-size: 13px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.nav {
  padding-left: 20px;
}
